/* ---------- General Component ---------- */
.Background-grey {
  background-color: #EAEAEA;
}

.Fix-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.Fix-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.Text-underline {
  text-decoration: underline;
  color: #5499c3;
}

.Text-capitalize {
  text-transform: capitalize;
}

.Text-uppercase {
  text-transform: uppercase;
}

.Text-center {
  text-align: center;
}

.Text-right {
  text-align: right;
}

.Text-justify {
  text-align: justify;
}

.No-padding {
  padding: 0px !important;
}

.Padding-b-4 {
  padding-bottom: 4px !important;
}

.Padding-r-4 {
  padding-right: 0.25em !important ;
}

.Padding-l-10 {
  padding-left: 0.625em !important;
}

.Padding-left-check {
  padding-left: 2em !important;
}

.Padding-10 {
  padding: 0.625em !important;
}

.Padding-l-b-r-10 {
  padding-left: 0.625em !important;
  padding-bottom: 0.625em !important;
  padding-right: 0.625em !important;
}

.Padding-l-b-r-20 {
  padding-left: 1.25em !important;
  padding-bottom: 1.25em !important;
  padding-right: 1.25em !important;
}

.Padding-l-r-10 {
  padding-left: 0.625em !important;
  padding-right: 0.625em !important;
}

.Padding-l-r-20 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.Padding-t-20 {
  padding-top: 1.25em !important;
}

.Padding-t-l-r-10 {
  padding-top: 0.625em !important;
  padding-left: 0.625em !important;
  padding-right: 0.625em !important;
}

.Padding-t-b-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.Padding-t-b-8 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.Padding-t-b-16 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.No-margin {
  margin: 0px !important;
}

.Margin-t-b-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.Margin-t-b-16 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.Margin-l-r-10 {
  margin-left: 0.625em !important;
  margin-right: 0.625em !important;
}

.Margin-t-b-10 {
  margin-top: 0.625em !important;
  margin-bottom: 0.625em !important;
}

.Margin-t-4-b-8 {
  margin-top: 4px !important;
  margin-bottom: 8px !important;
}

.Margin-t-8 {
  margin-top: 0.5em !important;
}

.Margin-t-10 {
  margin-top: 10px !important;
}

.Margin-t-12 {
  margin-top: 0.75em !important;
}

.Margin-t-15 {
  margin-top: 15px !important;
}

.Margin-t-20 {
  margin-top: 1.25em !important;
}

.Margin-t-3-cent {
  margin-top: 3% !important;
}

.Margin-t-5-cent {
  margin-top: 5% !important;
}

.Margin-b-4 {
  margin-bottom: 0.25em !important;
}

.Margin-b-8 {
  margin-bottom: 0.5em !important;
}

.Margin-b-10 {
  margin-bottom: 0.625em !important;
}

.Margin-b-16 {
  margin-bottom: 1em !important;
}

.Margin-b-20 {
  margin-bottom: 1.25em !important;
}

.Margin-b-24 {
  margin-bottom: 1.5em !important;
}

.Margin-r-4 {
  margin-right: 4px !important;
}

.Margin-r-10 {
  margin-right: 0.625em !important;
}

.Margin-r-16 {
  margin-right: 0.8em !important;
}

.Margin-l-10 {
  margin-left: 0.625em !important;
}

.Margin-10 {
  margin: 0.625em !important;
}

.Margin-l-b-r-10 {
  margin-bottom: 0.625em !important;
  margin-left: 0.625em !important;
  margin-right: 0.625em !important;
}

.Height-50 {
  height: 50% !important;
}

.Height-100 {
  height: 100% !important;
}

.Self-flex-start {
  align-self: flex-start
}

.Self-flex-end {
  align-self: flex-end;
}

.Justify-end {
  justify-content: flex-end;
}

.Container-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Container-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.Container-one-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Container-one-line-only {
  display: flex;
  flex-wrap: nowrap; 
}

.Container-center-cross {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Container-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.Circle-img-56 {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: solid 1px #EAEAEA;
}

.Loading-circle-56 {
  background-color: #EAEAEA;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.Circle-img-64 {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: solid 1px #EAEAEA;
}

.Loading-circle-64 {
  background-color: #EAEAEA;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.Img-opacity-5 {
  opacity: 0.5;
}

.Next-button {
  width: 100%;
  height: 56px;
  background-color: #5499c3;
}

.Next-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/* TEST CSS */
.border-black {
  border: 1px solid black;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}